@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  font-family: var(--font-epilogue);
  @apply bg-[#F0F7FF] dark:bg-[#141414];
}

.scrollbar-hide-buttons::-webkit-scrollbar-button {
  display: none;
}

/* Torna o scroll mais fino e arredondado */
.scrollbar-hide-buttons::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.scrollbar-hide-buttons::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.scrollbar-hide-buttons::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

e {
  object-fit: cover;
  width: 100px;
  height: 75px;
}